.ll_header {
  margin: 0;
}

.ll_comment_banner {
  width: 100%;
  margin-bottom: 20px;
}
.ll_comment_banner a {
  display: block;
  width: 100%;
}
.ll_comment_banner a img {
  width: 100%;
}

.ll_comment_main {
  float: left;
  width: 100%;
}
.ll_comment_main .ll_comment_right {
  margin-left: 24%;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav {
  height: 130px;
  width: 100%;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav_box {
  float: left;
  width: 12.5%;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 1000;
  cursor: pointer;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav_box .ll_pic {
  width: 100%;
  height: 34px;
  margin-top: 40px;
  margin-bottom: 15px;
  background: url("../images/ll_icon_new.png") no-repeat center;
  position: relative;
  z-index: 10;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav_box span {
  font-size: 12px;
  color: #A59999;
  position: relative;
  z-index: 10;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav_box .ll_mask {
  width: 100%;
  height: 139px;
  background: #FFDC00;
  border-radius: 10px;
  position: absolute;
  top: -3px;
  z-index: 1;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav_box:hover span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav_box:hover .ll_pic {
  background: url("../images/ll_icon_new_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box1 .ll_pic {
  background: url("../images/ll_icon_new_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box1 span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box2 .ll_pic {
  background: url("../images/ll_pc.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box2 span {
  color: #A59999;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box2:hover .ll_pic {
  background: url("../images/ll_pc_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box2:hover span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box3 .ll_pic {
  background: url("../images/ll_playstation4.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box3 span {
  color: #A59999;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box3:hover .ll_pic {
  background: url("../images/ll_playstation4_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box3:hover span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box4 .ll_pic {
  background: url("../images/ll_xbox.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box4 span {
  color: #A59999;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box4:hover .ll_pic {
  background: url("../images/ll_xbox_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box4:hover span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box5 .ll_pic {
  background: url("../images/ll_nintendo.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box5 span {
  color: #A59999;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box5:hover .ll_pic {
  background: url("../images/ll_nintendo_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box5:hover span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box6 .ll_pic {
  background: url("../images/ll_iphone.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box6 span {
  color: #A59999;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box6:hover .ll_pic {
  background: url("../images/ll_iphone_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box6:hover span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box7 .ll_pic {
  background: url("../images/ll_wy.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box7 span {
  color: #A59999;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box7:hover .ll_pic {
  background: url("../images/ll_wy_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box7:hover span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box8 .ll_pic {
  background: url("../images/ll_device.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box8 span {
  color: #A59999;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box8:hover .ll_pic {
  background: url("../images/ll_device_h.png") no-repeat center;
}
.ll_comment_main .ll_comment_right .ll_comment_right_nav .ll_box8:hover span {
  color: #444444;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_reload_run_reload {
  text-align: center;
  font-size: 18px;
  color: black;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic {
  float: left;
  width: 23%;
  height: 310px;
  margin-right: 2%;
  border-radius: 10px;
  background: white;
  position: relative;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_img {
  width: 100%;
  overflow: hidden;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_text {
  position: relative;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_text .ll_title1 {
  padding-left: 10px;
  line-height: 50px;
  font-size: 18px;
  color: #222222;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_text .ll_title2 {
  padding-left: 10px;
  font-size: 12px;
  color: #999999;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_text .ll_title3 {
  padding-left: 10px;
  font-size: 12px;
  color: #999999;
  position: absolute;
  bottom: -30px;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_text .ll_pop {
  position: absolute;
  width: 25%;
  top: -30px;
  margin-left: 3.5%;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_text .ll_pop img {
  width: 100%;
}
.ll_comment_main .ll_comment_right .ll_comment_reload_pic .ll_comment_items_pic .ll_text .ll_pop span {
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 4px;
}

.ll_comment_left {
  float: left;
  height: 1065px;
  width: 21.4%;
  min-height: 200px;
  margin-left: -100%;
  border-radius: 10px;
}
.ll_comment_left_one {
  width: 100%;
  background: white;
  overflow: hidden;
  margin-bottom: 2.8%;
}
.ll_comment_left_one:hover img {
  transition: all 0.5s;
  transform: scale(1.4);
}
.ll_comment_left_one img {
  width: 100%;
  border-radius: 10px;
}
.ll_comment_left_two {
  width: 100%;
  height: 40%;
  padding-left: 1.3%;
  background: white;
  border-radius: 10px;
  margin-bottom: 1.9%;
}
.ll_comment_left_two p {
  line-height: 55px;
  font-size: 13px;
  color: #222222;
}
.ll_comment_left_two .ll_comment_left_two_dl {
  height: 18%;
  margin-left: 1.3%;
  margin-bottom: 10px;
}
.ll_comment_left_two .ll_comment_left_two_dl .ll_com_img {
  display: inline-block;
  width: 33.4%;
  height: 100%;
  vertical-align: middle;
}
.ll_comment_left_two .ll_comment_left_two_dl .ll_com_img img {
  width: 100%;
  height: 100%;
}
.ll_comment_left_two .ll_comment_left_two_dl .ll_com_text {
  display: inline-block;
  width: 58%;
  line-height: 26px;
  vertical-align: middle;
}
.ll_comment_left_two .ll_comment_left_two_dl .ll_com_text a {
  font-size: 13px;
  color: #222222;
}
.ll_comment_left_two .ll_comment_left_two_dl .ll_com_text a:hover {
  color: orange;
}
.ll_comment_left_three {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
.ll_comment_left_three img {
  width: 100%;
  border-radius: 10px;
}
.ll_comment_left_three div {
  width: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  font-size: 15px;
  color: white;
  bottom: 5px;
  text-align: center;
  position: absolute;
}
.ll_comment_left_three div span {
  display: inline-block;
  text-align: left;
}
.ll_comment_left_three:hover span {
  color: orange;
}
