.ll_footer {
  width: 100%;
  height: 186px;
  background: #222222;
  overflow: hidden;
  clear: both;
}
.ll_footer .ll_img {
  width: 9%;
  margin: 0 auto;
  margin-top: 36px;
}
.ll_footer .ll_img img {
  width: 100%;
}
.ll_footer ul {
  margin-top: 32px;
  margin-bottom: 16px;
  text-align: center;
}
.ll_footer ul li {
  display: inline-block;
  padding: 0 15px;
  line-height: 1em;
  border-left: 1px solid #364436;
}
.ll_footer ul li a {
  display: inline-block;
  font-size: 12px;
  color: #919191;
}
.ll_footer ul .li1 {
  padding-left: 0;
  border-left: none;
}
.ll_footer p {
  text-align: center;
  font-size: 11px;
  color: #646460;
}
