@charset 'utf-8';

/* 工具区 */
.zy_baoXueDsToolsKuai {
  float: left;

  width: 34.7%;
}

/* 标题 */
.zy_dsToolsTitle {
  font-size: 28px;
  font-weight: bold;
  line-height: 80px;

  width: 100%;
  height: 80px;
}

/* 元素 */
.zy_dsToolsImg {
  display: block;

  width: 100%;
  margin-bottom: 2px;

  background-image: url(./../images/zy_toolJiHe.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.zy_dsToolsImg > span {
  display: block;

  width: 100%;
  height: 100%;

  transition: all .3s;

  background-color: rgba(100,100,100,.3);
}

.zy_dsToolsImg > span:hover {
  background-color: rgba(0,0,0,0);
}

.zy_dsToolsImg2 {
  background-image: url(./../images/zy_toolKaiEn.jpeg);
}

.zy_dsToolsImg3 {
  background-image: url(./../images/zy_toolMoSou.png);
}

.zy_dsToolsImg4 {
  background-image: url(./../images/zy_toolRuShi.jpg);
}

.zy_dsToolsImg5 {
  background-image: url(./../images/zy_toolXinJi.jpg);
}
