@charset 'utf-8';

/**
 * 大神长文区
 */



/* 公共区域 */
.zy_dsLongTextKuai {
/* 950px */
  float: left;

  width: 63.3%;
  margin-right: 2%;
  margin-bottom: 20px;
  padding-top: 40px;
}

.zy_dsLongTextUl {
  width: 100%;
}

.zy_dsLongTextLi {
  position: relative;

  height: 135px;
  padding: 20px 0;

  cursor: pointer;

  border-bottom: 1px solid #e4e4e4;
}

.zy_dsLongTextLi:hover {
  background-color: #fff;
}

.zy_dsLongTextLi > a {
  font-size: 0;
  line-height: 0;
}

.zy_zy_dsLongTextLi img {
  display: block;
  float: left;
}

/* 头像
---------------------------------------------------------------------- */
/* 头像图片 */
.zy_dsLongTextHead {
  width: 54px;
  height: 54px;
  margin: 41px 20px 0 0;

  border-radius: 50%;
}

/* 头像认证 */
.zy_dsLongTextGf {
  font-size: 10px;
  line-height: 16px;

  position: absolute;
  top: 99px;
  left: 38px;

  display: block;

  width: 16px;
  height: 16px;

  text-align: center;

  color: #fff;
  border-radius: 50%;
  background-color: #e76464;
}

/* 长文配图
-------------------------------------------------------------------- */
/* 长文配图 */
.zy_dsLongTextImg {
  width: 240px;
  height: 135px;
}

/* 大神长文标识 */
.zy_dsLongTextBs {
  font-size: 12px;
  line-height: 20px;

  position: absolute;
  top: 30px;
  left: 246px;

  display: block;

  width: 58px;
  height: 20px;

  text-align: center;

  color: #fff;
  border-radius: 10px;
  background: #e76464;
}

/* 内容区
------------------------------------------------------------------ */
/* 内容 */
.zy_dsLongTextTitle {
  font-size: 20px;
  line-height: 32px;

  position: absolute;
  top: 20px;
  right: 0;
  left: 334px;

  overflow: hidden;

  max-height: 64px;

  color: #333;
}

.zy_dsLongTextLi:hover .zy_dsLongTextTitle {
  color: #00aeef;
}

/* 角标 */
.zy_dsLongTextDown {
  font-size: 13px;
  line-height: 19px;

  position: absolute;
  right: 0;
  bottom: 20px;
  left: 334px;

  color: #999;
}

.zy_dsLongTextDown > span {
  padding-left: 20px;

  background-image: url(./../images/zy_dsLongZZU_03.png);
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.zy_dsLongTextDown .zy_dsLongTextUser {
  margin-right: 40px;

  background-image: url(./../images/zy_dsLongZZT_02.png);
}

/* 加载等待
------------------------------------------------------------------------- */
.zy_dsLangTextLeading {
  font-size: 20px;
  line-height: 135px;

  display: none;

  height: 135px;

  text-align: center;

  color: #999;
}
