@charset 'utf-8';

/**
 * 大神长文区
 */



/* 公共区域 */
.zy_dsLongTextKuai{
    width:63.3%;
    /* 950px */
    float:left;
    padding-top:40px;
    margin-right:2%;
    margin-bottom:20px;
}
.zy_dsLongTextUl{
    width:100%;
}
.zy_dsLongTextLi{
    cursor:pointer;
    position: relative;
    padding:20px 0;
    height:135px;
    border-bottom:1px solid #E4E4E4;
}
.zy_dsLongTextLi:hover{
    background-color:#FFFFFF;
}
.zy_dsLongTextLi>a{
    font-size:0;
    line-height:0;
}
.zy_zy_dsLongTextLi img{
    display: block;
    float:left;
}

/* 头像
---------------------------------------------------------------------- */
/* 头像图片 */
.zy_dsLongTextHead{
    width:54px;
    height:54px;
    margin:41px 20px 0 0;
    border-radius:50%;
}
/* 头像认证 */
.zy_dsLongTextGf{
    font-size:10px;
    line-height: 16px;
    display: block;
    border-radius: 50%;
    background-color:#E76464;
    color:#fff;
    width:16px;
    height:16px;
    text-align: center;
    position: absolute;
    top:99px;
    left:38px;
}

/* 长文配图
-------------------------------------------------------------------- */
/* 长文配图 */
.zy_dsLongTextImg{
    width:240px;
    height:135px;
}

/* 大神长文标识 */
.zy_dsLongTextBs{
    display: block;
    width:58px;
    height:20px;
    font-size:12px;
    line-height:20px;
    text-align: center;
    color:#fff;
    background:#E76464;
    border-radius:10px;
    position: absolute;
    top:30px;
    left:246px;
}

/* 内容区
------------------------------------------------------------------ */
/* 内容 */
.zy_dsLongTextTitle{
    position: absolute;
    top:20px;
    left:334px;
    right:0;
    font-size:20px;
    line-height:32px;
    color:#333333;
    max-height:64px;
    overflow: hidden;
}

.zy_dsLongTextLi:hover .zy_dsLongTextTitle{
    color:#00AEEF;
}

/* 角标 */
.zy_dsLongTextDown{
    position: absolute;
    bottom:20px;
    left:334px;
    right:0;
    font-size:13px;
    line-height:19px;
    color:#999999;
}
.zy_dsLongTextDown>span{
    padding-left:20px;
    background-image:url(./../images/zy_dsLongZZU_03.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
}
.zy_dsLongTextDown .zy_dsLongTextUser{
    background-image:url(./../images/zy_dsLongZZT_02.png);
    margin-right:40px;
}


/* 加载等待
------------------------------------------------------------------------- */
.zy_dsLangTextLeading{
    display: none;
    font-size:20px;
    line-height:135px;
    height:135px;
    text-align: center;
    color:#999;
}
