@charset 'utf-8';

/** 
 *固定菜单栏
 */

/* 页面导航栏的外框
--------------------------------------------------------------------------- */
.zy_pageNavKuan {
  position: fixed;
  z-index: 100;
  right: 20px;
  bottom: 15px;
}

.zy_pageNavLi {
  position: relative;

  display: block;

  width: 65px;
  height: 65px;
  margin-bottom: 10px;

  transition: all .5s;

  background-color: #d2d2d2;
  background-image: url(./../images/zy_baoXueJLT.png);
  background-repeat: no-repeat;
  background-position: 0 -72px;
}

.zy_pageLi2 {
  background-position: -71px -72px;
}

.zy_pageLi1 {
  background-position: -143px -72px;
}

.zy_pageNavLi:hover {
  background-color: #00aeef;
}

/* 二维码 */
.zy_pageLi1:hover .zy_dsErweima {
  display: block;
}

.zy_dsErweima {
  position: absolute;
  top: 50%;
  left: -120px;

  display: none;

  width: 100px;
  height: 100px;
  margin-top: -50px;

  border: 5px solid #fff;
}

.zy_dsErweima > img {
  width: 100px;
  height: 100px;
}

.zy_dsErweima:after {
  position: absolute;
  top: 50%;
  right: -15px;

  display: block;
  overflow: hidden;

  width: 0;
  height: 0;
  margin-top: -10px;

  content: '';

  border-top: 10px solid rgba(255,255,255,0);
  border-bottom: 10px solid rgba(255,255,255,0);
  border-left: 10px solid #fff;
}
