.ll_footer{
    width: 100%;
    height: 186px;
    background: #222222;
    overflow: hidden;
    clear: both;

    .ll_img{
        width: 9%;
        margin: 0 auto;
        margin-top: 36px;

        img{
            width: 100%;
        }
    }
    ul{
        margin: 0 auto;
        width: 22.2%;
        margin-top: 32px;
        margin-bottom: 16px;

        li{
            float: left;
            width: 12.1%;
            padding: 0 4%;
            border-right: 1px solid #364436;
            border-left: 1px solid #364436;

            a{
                font-size: 12px;
                color: #668091;
            }
            
        }
        .li1{
            padding-left: 0;
            border-left: none;

        }
        .li5{
            padding-right: 0;
            border-right: none;
        }
    }

}
