<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="your keywords">
<meta name="description" content="your description">
<meta name="author" content="author,email address">
<meta name="robots" content="index,follow">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="ie-stand">
<title>ll_comment</title>

<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/css/ll_header.css">
<link rel="stylesheet" href="../static/css/ll_footer.css">
<link rel="stylesheet" href="../static/css/ll_comment.css">
</head>
<body class="clear">
<!-- 头部 -->
<div class="ll_header">
    <a class="ll_header_index" href="./wy_play.html">
        <img class="ll_img_log" src="../static/images/ll_logo.png" alt="">
    </a>
    <div class="ll_nav">
        <a class="ll_items1" href="./ll_play_select.html" >精选<span ></span></a>
        <a class="ll_items1" href="" >游戏<span ></span></a>
        <a class="ll_a3 ll_items1" style="color: #FFDC00" href="">评测库<span style="opacity: 1"></span></a>

        <em class="ll_em"></em>

        <a class="ll_items2" href="./zy_baoXueDaShen.html">
            <span class="ll_left_img ll_img"></span>
            <span class="ll_right_text">暴雪游戏</span>
        </a>
        <a class="ll_items2" href="">
            <span class="ll_left_img ll_img2"></span>
            <span class="ll_right_text">网易游戏</span>
        </a>
        <a class="ll_items2" href="">
            <span class="ll_left_img ll_img3"></span>
            <span class="ll_right_text">网易大神</span>
        </a>

        <!-- 登陆 -->
        <div class="ll_login">
            <a class="ll_one_a" href="">登陆</a>
            <div class="ll_login_form">
                
                <!-- 表单元素 -->
                <p class="ll_ipt">
                    <span ></span>
                    <input class="ll_user" type="text">
                    <em class="ll_top_em">邮箱账号或手机号</em>
                </p>
                <p class="ll_ipt ll_ipt2">
                    <span class="ll_span2"></span>
                    <input class="ll_password" type="text">
                    <em class="ll_top_em">6~16位密码，区分大小写</em>
                </p>
                <p class="ll_bao_hu">使用<a href="">网易账号管家</a>，全面保护您的账号</p>
                <div class="ll_btn">登&nbsp;&nbsp;陆</div>
                
                <!-- 提示信息 -->
                <div class="ll_title">
                    <input type="checkbox" id="ll_10day" >
                    <label for="ll_10day">十天内免登陆</label>
                    <span>|</span>
                    <a href="">忘记密码?</a>
                    <a class="ll_a_register" href="">去注册</a>
                </div>

                <!-- 其它登陆方式 -->
                <div class="ll_other">
                    <span>其它登陆方式</span>
                    <div class="ll_wx"></div>
                    <div class="ll_xl"></div>
                    <div class="ll_qq"></div>
                </div>
            </div>
        </div>

        <!-- 注册 -->
        <div class="ll_new_people">
            <a class="ll_new_people_a" href="">注册</a>
            <div class="ll_new_people_email">
                <p>注册vip邮箱（特权邮箱，付费）</p>
            </div>
        </div>

        <div class="ll_new_text">投稿</div>
    </div>
</div>

<!-- banner图 -->
<div class="ll_comment_banner">
    <a href=""><img src="../static/images/ll_com_banner.png" alt=""></a>
</div>

<!-- 右边内容区域 -->
<div class="ll_comment_main">
    <div class="ll_comment_right">

        <!-- 导航滑块 -->
        <div class="ll_comment_right_nav">

            <div class="ll_comment_right_nav_box ll_box1 " ll_tmp = '0'>
                <div class="ll_mask"></div>
                <div class="ll_pic"></div>
                <span>最新测评</span>
            </div>

            <div class="ll_comment_right_nav_box ll_box2" ll_tmp = '1'>
                <div class="ll_pic"></div>
                <span>最新测评</span>
            </div>

            <div class="ll_comment_right_nav_box ll_box3" ll_tmp = '2'>
                <div class="ll_pic"></div>
                <span>最新测评</span>
            </div>

            <div class="ll_comment_right_nav_box ll_box4" ll_tmp = '3'>
                <div class="ll_pic"></div>
                <span>最新测评</span>
            </div>

            <div class="ll_comment_right_nav_box ll_box5" ll_tmp = '4'>
                <div class="ll_pic"></div>
                <span>最新测评</span>
            </div>

            <div class="ll_comment_right_nav_box ll_box6" ll_tmp = '5'>
                <div class="ll_pic"></div>
                <span>最新测评</span>
            </div>

            <div class="ll_comment_right_nav_box ll_box7" ll_tmp = '6'>
                <div class="ll_pic"></div>
                <span>最新测评</span>
            </div>

            <div class="ll_comment_right_nav_box ll_box8" ll_tmp = '7'>
                <div class="ll_pic"></div>
                <span>最新测评</span>
            </div>
            


        </div>

        <!-- 加载图片区域 -->
        <div class="ll_comment_reload_pic">

            <!-- <div class="ll_comment_items_pic">
                <div class="ll_img">
                    <img src="../static/images/ll_com6.png" alt="">
                </div>
                <div class="ll_text">
                    <div class="ll_pop">
                        <img src="../static/images/ll_level1.png" alt="">
                        <span style=" color: orange; ">60.0</span>
                    </div>
                    <p class="ll_title1">《贪婪之秋》</p>
                    <p class="ll_title2">猴子想做一个人，究竟有多难，囡囡安安安</p>
                    <p class="ll_title3">skrk/serg/arg</p>
                </div>
            </div> -->

        </div>

    </div>
</div>

<!-- 左边内容区域 -->
<div class="ll_comment_left">
    <div class="ll_comment_left_one">
        <img src="../static/images/ll_com5.png" alt="">
        
    </div>

    <div class="ll_comment_left_two clear">
        <p>视频评测</p>
        <dl class="ll_comment_left_two_dl">
            <dt class="ll_com_img" >
                <img src="../static/images/ll_com4.png" alt="">
            </dt>
            <dd class="ll_com_text" ><a href="">思路哈桑覅和奥斯陆哈根思路多个</a> </dd>
        </dl>

        <dl class="ll_comment_left_two_dl">
            <dt class="ll_com_img" >
                <img src="../static/images/ll_com3.png" alt="">
            </dt>
            <dd class="ll_com_text" ><a href="">思路哈桑覅和奥斯陆哈根思路多个</a> </dd>
        </dl>

        <dl class="ll_comment_left_two_dl">
            <dt class="ll_com_img" >
                <img src="../static/images/ll_com2.png" alt="">
            </dt>
            <dd class="ll_com_text" ><a href="">思路哈桑覅和奥斯陆哈根思路多个</a> </dd>
        </dl>

        <dl class="ll_comment_left_two_dl">
            <dt class="ll_com_img" >
                <img src="../static/images/ll_com1.png" alt="">
            </dt>
            <dd class="ll_com_text" ><a href="">思路哈桑覅和奥斯陆哈根思路多个</a> </dd>
        </dl>


    </div>

    <div class="ll_comment_left_three">
        <img src="../static/images/ll_con5.png" alt="">
        <div><span>看脸色人看了是然后给</span></div>
    </div>

    <div class="ll_comment_left_three">
        <img src="../static/images/ll_con1.png" alt="">
        <div><span>考虑实际如果刻录软件受到了附近肯定是看得见</span></div>
    </div>

    <div class="ll_comment_left_three">
        <img src="../static/images/ll_con3.png" alt="">
        <div><span>可热狗而偶然事故是是否深度发掘和法国欧式的佛韩国</span></div>
    </div>
</div>

<!-- 尾部 -->
<div class="ll_footer">
    <div class="ll_img">
        <img src="../static/images/ll_logo.png" alt="">
    </div>
    <ul class="clear">
        <li class="li1"><a href="">网站地图</a></li>
        <li><a href="">商务合作</a></li>
        <li><a href="">人才招聘</a></li>
        <li><a href="">主编信箱</a></li>
        <li class="li5"><a href="">友情链接</a></li>
    </ul>
    <p>广州网易计算机系统有限公司版权所有 ©1997-2019 《网络文化经营许可证》粤网文【2017】6527-1578号</p>
</div>

<script src="../static/scripts/jquery-1.8.3.js"></script>
<script type="module" src="../static/scripts/ll_comment.js"></script>

</body>
</html>
