<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="your keywords">
<meta name="description" content="your description">
<meta name="author" content="author,email address">
<meta name="robots" content="index,follow">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="ie-stand">
<title>ll_play_select</title>

<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/css/ll_header.css">
<link rel="stylesheet" href="../static/css/ll_footer.css">
<link rel="stylesheet" href="../static/css/ll_play_select.css">
</head>
<body class="clear">
<!-- 头部 -->
<div class="ll_header">

    <a class="ll_header_index" href="./wy_play.html">
        <img class="ll_img_log" src="../static/images/ll_logo.png" alt="">
    </a>

    <div class="ll_nav">
        <a class="ll_items1" style="color: #FFDC00" href="">精选<span style="opacity: 1 " ></span></a>
        <a class="ll_items1" href="">游戏<span></span></a>
        <a class="ll_a3 ll_items1" href="./ll_comment.html">评测库<span></span></a>

        <em class="ll_em"></em>

        <a class="ll_items2" href="./zy_baoXueDaShen.html">
            <span class="ll_left_img ll_img"></span>
            <span class="ll_right_text">暴雪游戏</span>
        </a>
        <a class="ll_items2" href="">
            <span class="ll_left_img ll_img2"></span>
            <span class="ll_right_text">网易游戏</span>
        </a>
        <a class="ll_items2" href="">
            <span class="ll_left_img ll_img3"></span>
            <span class="ll_right_text">网易大神</span>
        </a>

        <!-- 登陆 -->
        <div class="ll_login">
            <a class="ll_one_a" href="">登陆</a>
            <div class="ll_login_form">
                
                <!-- 表单元素 -->
                <p class="ll_ipt">
                    <span ></span>
                    <input class="ll_user" type="text">
                    <em class="ll_top_em">邮箱账号或手机号</em>
                </p>
                <p class="ll_ipt ll_ipt2">
                    <span class="ll_span2"></span>
                    <input class="ll_password" type="text">
                    <em class="ll_top_em">6~16位密码，区分大小写</em>
                </p>
                <p class="ll_bao_hu">使用<a href="">网易账号管家</a>，全面保护您的账号</p>
                <div class="ll_btn">登&nbsp;&nbsp;陆</div>
                
                <!-- 提示信息 -->
                <div class="ll_title">
                    <input type="checkbox" id="ll_10day" >
                    <label for="ll_10day">十天内免登陆</label>
                    <span>|</span>
                    <a href="">忘记密码?</a>
                    <a class="ll_a_register" href="">去注册</a>
                </div>

                <!-- 其它登陆方式 -->
                <div class="ll_other">
                    <span>其它登陆方式</span>
                    <div class="ll_wx"></div>
                    <div class="ll_xl"></div>
                    <div class="ll_qq"></div>
                </div>
            </div>
        </div>

        <!-- 注册 -->
        <div class="ll_new_people">
            <a class="ll_new_people_a" href="">注册</a>
            <div class="ll_new_people_email">
                <p>注册vip邮箱（特权邮箱，付费）</p>
            </div>
        </div>

        <div class="ll_new_text">投稿</div>

        
    </div>
</div>

<!--S 内容区 -->

<!-- 右边内容区 -->
<div class="ll_main">
    <div class="ll_con">
        <!-- 第一个内容区 -->
        <div class="ll_con_one">

            <div class="ll_top">
                <!-- 第1个元素 -->
                <div class="ll_items items1">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>最新</span>
                    </div>
                </div>

                <!-- 第2个元素 -->
                <div class="ll_items items2 ">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic pic1"></div>
                        <span>爱玩激动队</span>
                    </div>
                </div>

                <!-- 3 -->
                <div class="ll_items items3">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>爱玩人类观察</span>
                    </div>
                </div>

                <!-- 4 -->
                <div class="ll_items items4">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>游戏江湖事</span>
                    </div>
                </div>

                 <!-- 5 -->
                 <div class="ll_items items5">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>游戏玩趣集</span>
                    </div>
                </div>
                <!-- 6 -->
                <div class="ll_items items6">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>独立之声</span>
                    </div>
                </div>
                 <!-- 7 -->
                 <div class="ll_items items7">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>游戏科学</span>
                    </div>
                </div>

                <!-- 8 -->
                <div class="ll_items items8">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>周末爱玩啥</span>
                    </div>
                </div>

                <!-- 9 -->
                <div class="ll_items items9">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>爱玩也爱买</span>
                    </div>
                </div>

                <!-- 10 -->
                <div class="ll_items items10">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>玩知乎精选</span>
                    </div>
                </div>

                <!-- 11 -->
                <div class="ll_items items11">
                    <!--蒙版 -->
                    <div class="ll_items_bac"></div>
                    <!--  内容 -->
                    <div class="ll_pic_text text1">
                        <div class="ll_pic"></div>
                        <span>嗨翻天</span>
                    </div>
                </div>


            </div>

        </div>

        <!-- 懒加载图片内容区 -->
        <div class="ll_con_pic_reload">
            
            <!-- <div class="ll_reload_box">
                <img class="ll_reload_pic" src="../static/images/ll_con1.png" alt="">
                <div class="ll_reload_mask"></div>
                <div class="ll_reload_title">
                    <span>火花</span>
                    <div class="ll_reload_title_line"></div>
                    <em></em><b>99</b>
                </div>
                <div class="ll_reload_txt">猴子想做一个人，究竟有多难，安猴子想做一个人，究竟有多难，安文丰文丰</div>
            </div>

            <div class="ll_reload_box">
                <img class="ll_reload_pic" src="../static/images/ll_con1.png" alt="">
                <div class="ll_reload_mask"></div>
                <div class="ll_reload_title">
                    <span>火花</span>
                    <div class="ll_reload_title_line"></div>
                    <em></em><b>99</b>
                </div>
                <div class="ll_reload_txt">猴子想做一个人，究竟有多难，安猴子想做一个人，究竟有多难，安文丰文丰</div>
            </div>

            <div class="ll_reload_box">
                <img class="ll_reload_pic" src="../static/images/ll_con1.png" alt="">
                <div class="ll_reload_mask"></div>
                <div class="ll_reload_title">
                    <span>火花</span>
                    <div class="ll_reload_title_line"></div>
                    <em></em><b>99</b>
                </div>
                <div class="ll_reload_txt">猴子想做一个人，究竟有多难，安猴子想做一个人，究竟有多难，安文丰文丰</div>
            </div> -->

        </div>
    </div>
</div>

<!-- 左边内容区 -->
<div class="ll_left">
    <div class="ll_left_one">
        <p class="ll_title">投稿方式</p>
        <ul class="ll_list_content">
            <li>爱玩专栏投稿邮箱为：<span>otaku@vip.163.com，投稿文件请命名为【稿件标题+作者笔名】</span> ；</li>
            <li>我们会在投稿后三个工作日内予以反馈；</li>
            <li>初次投稿时，建议与编辑提前沟通选；</li>
            <li>欢迎加入爱玩投稿咨询 <span>Q群：227184241。</span> </li>
        </ul>
        <div class="ll_btn">了解更多</div>
    </div>

    <!-- 第二个模块 -->
    <div class="ll_left_two">

        <!-- 排行榜 -->
        <p class="ll_title">上月作者收入排行榜</p>

        <!-- 玩家详情 1-->
        <div class="ll_left_two_con">
            <!-- 头像 -->
            <div class="ll_img"><span></span></div>
            <!-- 文字介绍 -->
            <div class="ll_text">
                <p class="ll_left_two_con_p1">铁士代诺201</p>
                <p class="ll_left_two_con_p2">已过而立的游戏爱好者</p>
            </div>
            <!-- 金币图标 -->
            <div class="ll_money">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- 玩家详情 2-->
        <div class="ll_left_two_con ">
            <!-- 头像 -->
            <div class="ll_img ll_pop2"><span></span></div>
            <!-- 文字介绍 -->
            <div class="ll_text">
                <p class="ll_left_two_con_p1">瓦克五</p>
                <p class="ll_left_two_con_p2">中量级游戏玩家</p>
            </div>
            <!-- 金币图标 -->
            <div class="ll_money">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

         <!-- 玩家详情 3-->
         <div class="ll_left_two_con">
            <!-- 头像 -->
            <div class="ll_img ll_pop3"><span></span></div>
            <!-- 文字介绍 -->
            <div class="ll_text">
                <p class="ll_left_two_con_p1">尹紫电</p>
                <p class="ll_left_two_con_p2">天南海北，随便聊聊</p>
            </div>
            <!-- 金币图标 -->
            <div class="ll_money">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- 玩家详情 4-->
        <div class="ll_left_two_con">
            <!-- 头像 -->
            <div class="ll_img ll_clear_icon"><span></span></div>
            <!-- 文字介绍 -->
            <div class="ll_text">
                <p class="ll_left_two_con_p1">孤岛上眺望</p>
                <p class="ll_left_two_con_p2">潜行、动作、射击游戏爱好者</p>
            </div>
            <!-- 金币图标 -->
            <div class="ll_money">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <!-- 玩家详情 5-->
        <div class="ll_left_two_con">
            <!-- 头像 -->
            <div class="ll_img ll_clear_icon"><span></span></div>
            <!-- 文字介绍 -->
            <div class="ll_text">
                <p class="ll_left_two_con_p1">孤岛上眺望</p>
                <p class="ll_left_two_con_p2">潜行、动作、射击游戏爱好者</p>
            </div>
            <!-- 金币图标 -->
            <div class="ll_money">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>


    </div>

</div>

<!--E 内容区  -->

<!-- 尾部 -->
<div class="ll_footer">
    <div class="ll_img">
        <img src="../static/images/ll_logo.png" alt="">
    </div>
    <ul class="clear">
        <li class="li1"><a href="">网站地图</a></li>
        <li><a href="">商务合作</a></li>
        <li><a href="">人才招聘</a></li>
        <li><a href="">主编信箱</a></li>
        <li class="li5"><a href="">友情链接</a></li>
    </ul>
    <p>广州网易计算机系统有限公司版权所有 ©1997-2019 《网络文化经营许可证》粤网文【2017】6527-1578号</p>
</div>



<script src="../static/scripts/jquery-1.8.3.js"></script>
<script type="module" src="../static/scripts/ll_play_select.js"></script>
</body>
</html>
