<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="your keywords">
<meta name="description" content="your description">
<meta name="author" content="author,email address">
<meta name="robots" content="index,follow">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="ie-stand">
<link rel="stylesheet" href="../static/css/reset.css">
<link rel="stylesheet" href="../static/css/sry_index_header.css">
<link rel="stylesheet" href="../static/css/sry_index_banner.css">
<link rel="stylesheet" href="../static/css/sry_main.css">
<title>网易游戏首页</title>
</head>
<body>
<!-- 首页除尾部以外的内容 -->
<div class="sry_wrap">

    <!-- 头部 -->
    <div class="sry_header">
        <div class="sry_header_content">
            <a href="" class="sry_header_logo"></a>
            <p class="sry_header_list">
                <a href="">网易游戏会员俱乐部</a>
                <span>.</span>
                <a href="">关于网页游戏</a>
                <span>.</span>
                <a href="">爱玩网</a>
                <span>.</span>
                <a href="">游戏热爱者</a>
                <span>.</span>
                <a href="">网易大神</a>
                <span>.</span>
                <a href="">人才招聘</a>
                <span>.</span>
                <a href="">客服中心</a>
            </p>
            <a href="" class="sry_header_right">
                <i></i>
                <em>游戏列表</em>
            </a>

            <div class="sry_header_rightAfter">
                <i></i>
            </div> 

            <div class="sry_header_nav">
                <p class="sry_navTitle">
                    游戏列表
                    <span>
                        <i class="sry_H"></i>
                        热门游戏
                    </span>
                    <span>
                        <i class="sry_N"></i>
                        最新游戏
                    </span>
                </p>
                <div class="sry_navLeft">
                    <h3 class="sry_navHeader1">
                        <em>客户端游戏</em>
                    </h3>
                    <div class="sry_nav_con1">
                        <h2>角色扮演</h2>
                        <ul class="sry_nav_list1">
                            <li>
                                <a href="#">梦幻西游电脑版</a>
                                <i class="sry_NO1"></i>
                            </li>
                            <li>
                                <a href="#">大话2经典版</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">天下3</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">新倩女幽魂</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">逆水寒</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">泰亚史诗</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">大话2免费版</a>
                                <i class="sry_H"></i>
                            </li>
                            <li><a href="#">天谕</a></li>
                            <li><a href="#">超激斗梦境</a></li>
                            <li><a href="#">龙魂时刻</a></li>
                            <li><a href="#">新大话3经典版</a></li>
                            <li><a href="#">新大话3免费版</a></li>
                            <li><a href="#">镇魔曲</a></li>
                            <li><a href="#">镇魔曲页游</a></li>
                            <li><a href="#">大唐无双</a></li>
                            <li><a href="#">武魂2</a></li>
                            <li><a href="#">魔兽世界</a></li>
                            <li><a href="#">暗黑破坏神3</a></li>
                            <li><a href="#">新飞飞</a></li>
                            <li><a href="#">精灵传说</a></li>
                        </ul>
                    </div>
                    <div class="sry_nav_con2">
                        <h2>竞技/悠闲</h2>
                        <ul class="sry_nav_list2">
                            <li>
                                <a href="#">我的世界</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">守望先锋</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">荒野行动Plus</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">EVE Online</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">突击英雄</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">无尽战区</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">战意</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">秘境对决</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">故土Nostos</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">风暴英雄</a>
                            </li>
                            <li>
                                <a href="#">星际争霸II</a>
                            </li>
                            <li>
                                <a href="#">英雄三国</a>
                            </li>
                            <li>
                                <a href="#">炉石传说</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sry_navRight">
                    <h3 class="sry_navHeader2">
                        <em>手机游戏</em>
                    </h3>
                    <div class="sry_nav_con3">
                        <h2>热门推荐</h2>
                        <ul class="sry_nav_list3">
                            <li>
                                <a href="#">梦幻西游手游</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">大话西游手游</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">倩女幽魂手游</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">阴阳师</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">率士之滨</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">天下手游</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">镇魔曲手游</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">一梦江湖</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">决战！平安京</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">明日之后</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">荒野行动</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">第五人格</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">神都夜行录</a>
                                <i class="sry_H"></i>
                            </li>
                            <li>
                                <a href="#">终结战场</a>
                            </li>
                            <li>
                                <a href="#">我的世界Minecraft</a>
                            </li>
                            <li>
                                <a href="#">大唐无双唯美篇</a>
                            </li>
                            <li>
                                <a href="#">光明大陆</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sry_nav_con4">
                        <h2>精品推荐</h2>
                        <ul class="sry_nav_list4">
                            <li>
                                <a href="#">量子特攻</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">遇见逆水寒</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">堡垒前线</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">梦幻西游三维版</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">河狸计划</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">时空中的绘旅人</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">花与剑</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">重装上阵</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">暗黑破坏神：不朽</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">阴阳师：妖怪屋</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">宝可梦大探险</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">黑潮之上</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>        
                                <a href="#">绘真：妙笔千山</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">光遇</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">流星群侠传</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">阴阳师：百闻牌</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">有杀气童话2</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">实况足球</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">天谕手游</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">Disorder</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">机动都市阿尔法</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">幻书启世录</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">一起优诺</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">青璃</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">孤岛先锋</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">逗斗火柴人</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">海岛纪元</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">轩辕剑龙舞云山</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">游戏王：决斗链接</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">迷室The Room</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">节奏空间</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">荒野潜伏者</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">隐士录</a>
                                <i class="sry_N"></i>
                            </li>
                            <li>
                                <a href="#">永远的7日之都</a>
                            </li>
                            <li>
                                <a href="#">船无虚发：暗星</a>
                            </li>
                            <li>
                                <a href="#">实况：王者集结</a>
                            </li>
                            <li>
                                <a href="#">战舰世界闪击战</a>
                            </li>
                            <li>
                                <a href="#">风云岛行动</a>
                            </li>
                            <li>
                                <a href="#">坦克世界闪击战</a>
                            </li>
                            <li>
                                <a href="#">战争怒吼</a>
                            </li>
                            <li>
                                <a href="#">极客战记</a>
                            </li>
                            <li>
                                <a href="#">天启联盟</a>
                            </li>
                            <li>
                                <a href="#">权利与纷争</a>
                            </li>
                            <li>
                                <a href="#">猎手之王</a>
                            </li>
                            <li>
                                <a href="#">非人学园</a>
                            </li>
                            <li>
                                <a href="#">战国志</a>
                            </li>
                            <li>
                                <a href="#">边境之旅</a>
                            </li>
                            <li>
                                <a href="#">星战前夜：无烬星河</a>
                            </li>
                            <li>
                                <a href="#">三国如龙传</a>
                            </li>
                            <li>
                                <a href="#">网易棋牌</a>
                            </li>
                            <li>
                                <a href="#">神谕文明</a>
                            </li>
                            <li>
                                <a href="#">风暴对决</a>
                            </li>
                            <li>
                                <a href="#">猎魂觉醒</a>
                            </li>
                            <li>
                                <a href="#">绿茵之巅</a>
                            </li>
                            <li>
                                <a href="#">狼人杀</a>
                            </li>
                            <li>
                                <a href="#">魔法禁书目录</a>
                            </li>
                            <li>
                                <a href="#">梦幻西游无双</a>
                            </li>
                            <li>
                                <a href="#">秘境对决</a>
                            </li>
                            <li>
                                <a href="#">九州海上牧云记</a>
                            </li>
                            <li>
                                <a href="#">影之诗</a>
                            </li>
                            <li>
                                <a href="#">潮人篮球</a>
                            </li>
                            <li>
                                <a href="#">三国诛将录</a>
                            </li>
                            <li>
                                <a href="#">重装突击</a>
                            </li>
                            <li>
                                <a href="#">劲舞团</a>
                            </li>
                            <li>
                                <a href="#">坦克连</a>
                            </li>
                            <li>
                                <a href="#">大话西游热血版</a>
                            </li>
                            <li>
                                <a href="#">大航海之路</a>
                            </li>
                            <li>
                                <a href="#">萌王EX</a>
                            </li>
                            <li>
                                <a href="#">秘宝猎人</a>
                            </li>
                            <li>
                                <a href="#">天下x天下</a>
                            </li>
                            <li>
                                <a href="#">异次元战姬</a>
                            </li>
                            <li>
                                <a href="#">永恒边境</a>
                            </li>
                            <li>
                                <a href="#">无尽神域</a>
                            </li>
                            <li>
                                <a href="#">雨雪：影之刃</a>
                            </li>
                            <li>
                                <a href="#">花语月</a>
                            </li>
                            <li>
                                <a href="#">乱斗西游2</a>
                            </li>
                            <li>
                                <a href="#">惊梦</a>
                            </li>
                            <li>
                                <a href="#">口袋侏罗纪</a>
                            </li>
                            <li>
                                <a href="#">主公莫慌</a>
                            </li>
                            <li>
                                <a href="#">迷你西游</a>
                            </li>
                            <li>
                                <a href="#">实况俱乐部</a>
                            </li>
                            <li>
                                <a href="#">功夫熊猫3手游</a>
                            </li>
                            <li>
                                <a href="#">魂之幻影</a>
                            </li>
                            <li>
                                <a href="#">大唐游仙记</a>
                            </li>
                            <li>
                                <a href="#">天下HD</a>
                            </li>
                            <li>
                                <a href="#">西游神魔决</a>
                            </li>
                            <li>
                                <a href="#">有杀气童话</a>
                            </li>
                            <li>
                                <a href="#">妖刀少女异闻录</a>
                            </li>
                            <li>
                                <a href="#">猫和老鼠官方手游</a>
                            </li>
                            <li>
                                <a href="#">功夫熊猫官方手游</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="sry_nav_bottom">
                    <i></i>
                </p>
            </div>
        </div>
    </div>

    <!-- 轮播图 -->
    <div class="sry_banner">
        <div class="sry_banner1 sry_img">
            <a href="" class="sry_banner_center">
                <div class="sry_banner_main">
                    <h2 class="sry_banner134_font">《天下3》中秋活动温情上线</h2>
                    <h3 class="sry_banner134_font">迷雾寻踪新副本限时开启</h3>
                    <p class="sry_banner134_font">但愿人长久，千里共婵娟！《天下3》中秋活动温情上线，中秋月圆·迷雾寻踪全新副本限时开启。</p>
                    <i></i>
                </div>
            </a>
        </div>
        <div class="sry_banner2 sry_img">
            <a href="" class="sry_banner_center">
                <div class="sry_banner_main">
                    <h2 class="sry_banner25_font">《量子特攻》全平台开战</h2>
                    <h3 class="sry_banner25_font">“超能版”战术竞技手游</h3>
                    <p class="sry_banner25_font">化身超能特工，解锁“特殊动作+枪械”与百名玩家同场竞技。爬上高山、房屋和树木，超机动滑翔在天际。是猎人还是猎物？今日一战！</p>
                    <i></i>
                </div>
            </a>
        </div>
        <div class="sry_banner3 sry_img">
            <a href="" class="sry_banner_center">
                <div class="sry_banner_main">
                    <h2 class="sry_banner134_font">第五人格 园丁礼包上架</h2>
                    <h3 class="sry_banner134_font">荧荧幽光寄思</h3>
                    <p class="sry_banner134_font">网易首款1V4非对称竞技手游《第五人格》中秋活动开启在即，大量福利等你领取，人气求生者园丁“荧荧幽光”礼包今日上线，艾玛将化身幽灵公主，在满月映照的庄园内翩跹起舞。</p>
                    <i></i>
                </div>
            </a>
        </div>
        <div class="sry_banner4 sry_img">
            <a href="" class="sry_banner_center">
                <div class="sry_banner_main">
                    <h2 class="sry_banner134_font">《猎魂觉醒》兽潮战争</h2>
                    <h3 class="sry_banner134_font">S2赛季烈焰燎原开战！</h3>
                    <p class="sry_banner134_font">兽潮随时来袭，每一步前行都与战斗相关，到达终点之前，我们还将付出怎样的代价？</p>
                    <i></i>
                </div>
            </a>
        </div>
        <div class="sry_banner5 sry_img">
            <a href="" class="sry_banner_center">
                <div class="sry_banner_main">
                    <h2 class="sry_banner25_font">新玩法策马同游开启</h2>
                    <h3 class="sry_banner25_font">游山玩水，甜蜜秀恩爱</h3>
                    <p class="sry_banner25_font">《一梦江湖》侠缘系统开启全新玩法，双人同乘，策马游金陵，甜蜜秀恩爱！</p>
                    <i></i>
                </div>
            </a>
        </div>
        <div class="sry_banner_pointer">
            <p class="sry_banner_point">
                <a href="" class='sry_show'></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </p>
        </div>
    </div>
    <a href="" class="sry_banner_left">
        <i></i>
        <div class="sry_left_hide">
            <span><img src="../static/images/sry_img/sry_banner1.jpg" alt=""></span>
            <h2>《大唐无双》中秋月度活动</h2>
            <p>明月千里 大宴亲朋</p>
        </div>
        <div class="sry_left_hide">
            <span><img src="../static/images/sry_img/sry_banner2.jpg" alt=""></span>
            <h2>镇魔曲新版双生化梦</h2>
            <p>双生之境，千形万象</p>
        </div>
        <div class="sry_left_hide">
            <span><img src="../static/images/sry_img/sry_banner3.jpg" alt=""></span>
            <h2>网易电竞NeXT秋季赛！</h2>
            <p>开战，一起燃！</p>
        </div>
        <div class="sry_left_hide">
            <span><img src="../static/images/sry_img/sry_banner4.jpg" alt=""></span>
            <h2>《天下3》中秋活动温情上线</h2>
            <p>迷雾寻踪新副本限时开启</p>
        </div>
        <div class="sry_left_hide">
            <span><img src="../static/images/sry_img/sry_banner5.jpg" alt=""></span>
            <h2>《量子特攻》全平台开战</h2>
            <p>“超能版”战术竞技手游</p>
        </div>
    </a>
    <a href="" class="sry_banner_right">
        <i></i>
        <div class="sry_right_hide">
            <span><img src="../static/images/sry_img/sry_banner1.jpg" alt=""></span>
            <h2>《大唐无双》中秋月度活动</h2>
            <p>明月千里 大宴亲朋</p>
        </div>
        <div class="sry_right_hide">
            <span><img src="../static/images/sry_img/sry_banner2.jpg" alt=""></span>
            <h2>镇魔曲新版双生化梦</h2>
            <p>双生之境，千形万象</p>
        </div>
        <div class="sry_right_hide">
            <span><img src="../static/images/sry_img/sry_banner3.jpg" alt=""></span>
            <h2>网易电竞NeXT秋季赛！</h2>
            <p>开战，一起燃！</p>
        </div>
        <div class="sry_right_hide">
            <span><img src="../static/images/sry_img/sry_banner4.jpg" alt=""></span>
            <h2>《天下3》中秋活动温情上线</h2>
            <p>迷雾寻踪新副本限时开启</p>
        </div>
        <div class="sry_right_hide">
            <span><img src="../static/images/sry_img/sry_banner5.jpg" alt=""></span>
            <h2>《量子特攻》全平台开战</h2>
            <p>“超能版”战术竞技手游</p>
        </div>
    </a>
    <div class="sry_banner_bottom">
        <div class="sry_banner_cenBott">
            <div class="sry_banner_tab">
                <div class="sry_tab_title">
                    <ul class="sry_tab_list">
                        <li>
                            <a class="sry_tab_active" href="" title="《大唐无双》中秋月专题" class="sry_tab_left">
                                <img src="../static/images/sry_img/sry_banner_chu.png" alt="">
                                <em>
                                    <span>《大唐无双》中秋月专题</span>
                                    <i>明月千里 大宴亲朋</i>
                                </em>
                            </a>
                            <b class="sry_tab_bActive"></b>
                        </li>
                        
                        <li>
                            <a href="" title="镇魔曲新版双生化梦">
                                <img src="../static/images/sry_img/sry_banner_di.png" alt="">
                                <em>
                                    <span>镇魔曲新版双生化梦</span>
                                    <i>双生之境，千形万象</i>
                                </em>
                            </a>
                            <b></b>
                        </li>
                        <li>
                            <a href="" title="《天下3》中秋活动上线">
                                <img src="../static/images/sry_img/sry_banner_lie.png" alt="">
                                <em>
                                    <span>《天下3》中秋活动上线</span>
                                    <i>迷雾寻踪新副本限时开启</i>
                                </em>
                            </a>
                            <b></b>
                        </li>
                        <li>
                            <a href="" title="第五人格">
                                <img src="../static/images/sry_img/sry_banner_tian.jpg" alt="">
                                <em>
                                    <span>第五人格</span>
                                    <i>园丁荧荧幽光礼包上架</i>
                                </em>
                            </a>
                            <b></b>
                        </li>
                        <li>
                            <a href="" title="猎魂觉醒">
                                <img src="../static/images/sry_img/sry_banner_di.png" alt="">
                                <em>
                                    <span>猎魂觉醒</span>
                                    <i>赛季“烈焰燎原”开战！</i>
                                </em>
                            </a>
                            <b></b>
                        </li>
                    </ul>
                </div>
                <div class="sry_tab_main">
                    <img class='sry_tab_show' src="../static/images/sry_img/sry_banner1.jpg" alt="">
                    <img src="../static/images/sry_img/sry_banner2.jpg" alt="">
                    <img src="../static/images/sry_img/sry_banner3.jpg" alt="">
                    <img src="../static/images/sry_img/sry_banner4.jpg" alt="">
                    <img src="../static/images/sry_img/sry_banner5.jpg" alt="">
                </div>
            </div>
            <div class="sry_banner_plus">
                <a class="sry_plus_pho" href="#"></a>
                <a href="#" class="sry_plus_title">网易电竞NeXT2019秋季赛今日开战，一起燃！</a>
                <div class="sry_plus_main">
                    <p class="sry_plus_top">
                        <i></i>
                        <a href="#">打游戏的快乐水，严选承包了！</a>
                    </p>
                    <ul class="sry_plus_list">
                        <li>
                            <a href="#" title="《时空中的绘旅人》首测收官，感恩玩家不负相遇">《时空中的绘旅人》首测收官，感恩玩家不负相遇</a>
                            <span>09-16</span>
                        </li>
                        <li>
                            <a href="#" title="来了，超级我！ 网易超能战术竞技《量子特攻》今日全平台开战！">来了，超级我！ 网易超能战术竞技《量子特攻》今日全平台开战！</a>
                            <span>09-12</span>
                        </li>
                        <li>
                            <a href="#" title="《量子特攻》明日全平台开战 今日10点开放预下载" target="_blank">《量子特攻》明日全平台开战 今日10点开放预下载</a>
                            <span>09-11</span>
                        </li>
                        <li>
                            <a href="#" title="暴扣！拦网！得分！《猫和老鼠》沙滩排球上线迎中秋 今日10点开放预下载" target="_blank">暴扣！拦网！得分！《猫和老鼠》沙滩排球上线迎中秋 今日10点开放预下载</a>
                            <span>09-9</span>
                        </li>
                        <li>
                            <a href="#" title="红颜江湖，你为主角 网易古风情缘手游《花与剑》App Store预订开启" target="_blank">红颜江湖，你为主角 网易古风情缘手游《花与剑》App Store预订开启</a>
                            <span>09-9</span>
                        </li>
                        <li>
                            <a href="#" title="网易剧情恋爱手游《时空中的绘旅人》首测开启">网易剧情恋爱手游《时空中的绘旅人》首测开启</a>
                            <span>09-6</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sry_four">
        <ul class="sry_four_list">
            <li>
                <a href="#">
                    <img src="../static/images/sry_img/sry_con_dashen.png" alt="">
                </a>
                <i class="sry_four_line"></i>
            </li>
            <li>
                <a href="#">
                    <img src="../static/images/sry_img/sry_con_wan.jpg" alt="">
                </a>
                <i class="sry_four_line"></i>
            </li>
            <li>
                <a href="#">
                    <img src="../static/images/sry_img/sry_con_wei.png" alt="">
                </a>
                <i class="sry_four_line"></i>
            </li>
            <li class="sry_lastLi">
                <a href="#">
                    <img src="../static/images/sry_img/sry_con_wang.png" alt="">
                </a>
                <i class="sry_four_line"></i>
            </li>
        </ul>
    </div>
    <div class="sry_remen">
        <p class="sry_remenTit">
            <em class="sry_reTiLeft">
                <i></i>
                <b>热门游戏</b>
            </em>
            <a href="#" class="sry_reTiA">
                换一批
                <i></i>
            </a>
            <em class="sry_reTiRight">
                <i></i>
                <b>新游测试</b>
            </em>
        </p>
    </div>
</div> 

<script src="../static/scripts/jquery-1.8.3.js"></script>
<script src="../static/scripts/sry_index_header.js"></script>
<script src="../static/scripts/sry_index_banner.js"></script>

</body>
</html>