<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>网易爱玩_游戏内容社区</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/wy_play.css">
    <link rel="stylesheet" href="../static/css/ll_header.css">
    <link rel="stylesheet" href="../static/css/ll_footer.css">
</head>

<body>
    <!-- 头部 -->
    <div class="ll_header">

        <a class="ll_header_index" href="./wy_play.html">
            <img class="ll_img_log" src="../static/images/ll_logo.png" alt="">
        </a>

        <div class="ll_nav">
            <a class="ll_items1" href="./ll_play_select.html">精选<span></span></a>
            <a class="ll_items1" href="./ll_comment.html">游戏<span></span></a>
            <a class="ll_a3 ll_items1" href="">评测库<span></span></a>

            <em class="ll_em"></em>

            <a class="ll_items2" href="./zy_baoXueDaShen.html">
                <span class="ll_left_img ll_img"></span>
                <span class="ll_right_text">暴雪游戏</span>
            </a>
            <a class="ll_items2" href="./index.html">
                <span class="ll_left_img ll_img2"></span>
                <span class="ll_right_text">网易游戏</span>
            </a>
            <a class="ll_items2" href="">
                <span class="ll_left_img ll_img3"></span>
                <span class="ll_right_text">网易大神</span>
            </a>

            <!-- 登陆 -->
            <div class="ll_login">
                <a class="ll_one_a" href="">登陆</a>
                <div class="ll_login_form">

                    <!-- 表单元素 -->
                    <p class="ll_ipt">
                        <span></span>
                        <input class="ll_user" type="text">
                        <em class="ll_top_em">邮箱账号或手机号</em>
                    </p>
                    <p class="ll_ipt ll_ipt2">
                        <span class="ll_span2"></span>
                        <input class="ll_password" type="text">
                        <em class="ll_top_em">6~16位密码，区分大小写</em>
                    </p>
                    <p class="ll_bao_hu">使用<a href="">网易账号管家</a>，全面保护您的账号</p>
                    <div class="ll_btn">登&nbsp;&nbsp;陆</div>

                    <!-- 提示信息 -->
                    <div class="ll_title">
                        <input type="checkbox" id="ll_10day">
                        <label for="ll_10day">十天内免登陆</label>
                        <span>|</span>
                        <a href="">忘记密码?</a>
                        <a class="ll_a_register" href="">去注册</a>
                    </div>

                    <!-- 其它登陆方式 -->
                    <div class="ll_other">
                        <span>其它登陆方式</span>
                        <div class="ll_wx"></div>
                        <div class="ll_xl"></div>
                        <div class="ll_qq"></div>
                    </div>
                </div>
            </div>

            <!-- 注册 -->
            <div class="ll_new_people">
                <a class="ll_new_people_a" href="">注册</a>
                <div class="ll_new_people_email">
                    <p>注册vip邮箱（特权邮箱，付费）</p>
                </div>
            </div>
            <div class="ll_new_text">投稿</div>
        </div>
    </div>
    <!-------------爱玩内容------------------------------->
    <div id="con">
        <!-------------爱玩导航--------------------------->
        <div class="nav">
            <div class="lunbo">
                <div class="one">
                    <a href="">
                        <img src="../static/images/wy_lunbo_one.png" alt="">
                    </a>
                    <p class="info">G级猎人，听到请回答——《怪物猎人 世界：冰原》评测</p>
                    <div class="talk"><span>0</span></div>
                </div>
                <div class="one">
                    <a href="">
                        <img src="../static/images/wy_lunbo_two.jpeg" alt="">
                    </a>
                    <p class="info">《超激斗梦境》定档10.14开测 共研服测试基地即将对玩家开放</p>
                    <div class="intro">推广</div>
                </div>
                <ul class="nums">
                    <li class="show"></li>
                    <li></li>
                </ul>
            </div>
            <div class="search">
                <input type="text" placeholder="请输入你要搜索的内容">
                <p class="search-icon"></p>
            </div>
            <ul class="about">
                <div class="media">
                    <span>关注：</span>
                    <li class="gold"></li>
                    <li class="weibo"></li>
                    <li class="zhihu"></li>
                    <li class="steam"></li>
                </div>
                <li class="hope">爱玩希望小学</li>
            </ul>
            <ul class="case">
                <li>
                    <a href="">
                        <img src="../static/images/wy_play_moshou.png" alt="">
                    </a>
                    <span class="link">魔兽争霸情报局</span>
                    <span class="no"></span>
                    <p>平台地图作者采访</p>
                </li>
                <li>
                    <a href="">
                        <img src="../static/images/wy_play_lushi.jpeg" alt="">
                    </a>
                    <span class="link">炉石爱情故事</span>
                    <span class="no"></span>
                    <p>"西泠炉石恋"回顾视频</p>
                </li>
            </ul>
        </div>
        <!--------------爱玩精选-------------------------->
        <div class="jingxuan">
            <div class="title">
                <h2>爱玩精选</h2>
                <span></span>
                <a href="">更多<span></span></a>
            </div>
            <ul class="jingxuan-case">
                <li>
                    <a href="">
                        <img src="../static/images/wy_play_jingxuan2.png" alt="">
                    </a>
                    <div class="mask"></div>
                    <p class="comment">稳重求进，锐意进击，如战场莲花般迤逦——《战争机器5》评测</p>
                    <div class="author">欧阳花花</div>
                    <div class="line"></div>
                    <div class="talk"><span>6</span></div>
                </li>
                <li>
                    <a href="">
                        <img src="../static/images/wy_play_jingxuan1.png" alt="">
                    </a>
                    <div class="mask"></div>
                    <p class="comment">《先祖：人类奥德赛》评测：猴子想做一个人，究竟有多难？</p>
                    <div class="author">欧阳花花</div>
                    <div class="line"></div>
                    <div class="talk"><span>6</span></div>
                </li>
                <li>
                    <a href="">
                        <img src="../static/images/wy_play_jingxuan3.png" alt="">
                    </a>
                    <div class="mask"></div>
                    <p class="comment">电影式体验，但不那么吓人——《黑相集：棉兰号》评测</p>
                    <div class="author">欧阳花花</div>
                    <div class="line"></div>
                    <div class="talk"><span>6</span></div>
                </li>
                <li>
                    <a href="">
                        <img src="../static/images/wy_play_jingxuan4.png" alt="">
                    </a>
                    <div class="mask"></div>
                    <p class="comment">一个小团队针对经典美式RPG的文艺复兴——《贪婪之秋》评测</p>
                    <div class="author">欧阳花花</div>
                    <div class="line"></div>
                    <div class="talk"><span>6</span></div>
                </li>
                <li>
                    <a href="">
                        <img src="../static/images/wy_play_jingxuan4.jpeg" alt="">
                    </a>
                    <div class="mask"></div>
                    <p class="comment">用量子黑科技来助你今晚“射击”</p>
                    <div class="author">欧阳花花</div>
                    <div class="line"></div>
                    <div class="talk"><span>6</span></div>
                </li>
                <li>
                    <a href="">
                        <img src="../static/images/wy_play_jingxuan5.png" alt="">
                    </a>
                    <div class="mask"></div>
                    <p class="comment">白金质地，白银光泽——《异界锁链》评测</p>
                    <div class="author">欧阳花花</div>
                    <div class="line"></div>
                    <div class="talk"><span>6</span></div>
                </li>
            </ul>
        </div>
        <!--------------游戏新鲜事-------------------------->
        <div class="fresh">
            <div class="title">
                <h2>游戏新鲜事</h2>
                <span></span>
                <a href="">更多<span></span></a>
            </div>
            <div class="fresh-wrap">
                <ul class="fresh-list">
                    <li class="fresh-case">
                        <a href="">
                            <div class="day">19</div>
                            <div class="date">游戏史上的今天 · 2014 / 9 / 19</div>
                            <div class="history">怪异的解密探索《D4：暗梦不灭》</div>
                        </a>
                    </li>
                    <li class="fresh-case-detail">
                        <a href="">
                            <div class="detail-time">昨 天</div>
                            <span class="circle"></span>
                            <div class="detail-con">IP全系产品集结NeXT2019秋季赛 阴阳师电竞化步入快车道</div>
                        </a>
                    </li>
                    <li class="fresh-case-detail">
                        <a href="">
                            <div class="detail-time">昨 天</div>
                            <span class="circle"></span>
                            <div class="detail-con">流转新罗裙 悦目是佳人 《天下3》汉服活动投票火热开启中</div>
                        </a>
                    </li>
                    <li class="fresh-case-detail">
                        <a href="">
                            <div class="detail-time">昨 天</div>
                            <span class="circle"></span>
                            <div class="detail-con">种族平衡再启新篇章 大话2免费版全种族调整女人地位再提升</div>
                        </a>
                    </li>
                    <li class="fresh-case-detail">
                        <a href="">
                            <div class="detail-time">昨 天</div>
                            <span class="circle"></span>
                            <div class="detail-con">国风有妖气 《新倩女幽魂》同人绘优秀作品展示</div>
                        </a>
                    </li>
                    <li class="fresh-case-detail">
                        <a href="">
                            <div class="detail-time">今 天</div>
                            <span class="circle"></span>
                            <div class="detail-con">《大话2免费版》情怀神兽龙太子重磅上线 与龙同行共战江湖</div>
                        </a>
                    </li>
                    <li class="fresh-case-detail">
                        <a href="">
                            <div class="detail-time">今 天</div>
                            <span class="circle"></span>
                            <div class="detail-con">跟逆水寒联动的孤城闭到底什么来头</div>
                        </a>
                    </li>
                </ul>
                <div class="fresh-btn">点击加载更多</div>
            </div>

        </div>
        <!--------------游戏广告----------------------------->
        <div class="adv4">
            <a href="">
                <img src="../static/images/wy_play_adv4.jpeg" alt="">
            </a>
        </div>
        <!--------------爱玩评测----------------------------->
        <div class="test">
            <div class="title">
                <h2>爱玩评测</h2>
                <span></span>
                <a href="">更多<span></span></a>
            </div>
            <ul class="test-case">
                <li class="case1 ">
                    <a href="">
                        <img src="../static/images/wy_play_test3.jpeg" alt="">
                        <div class="content">
                            <div class="tit">/ 优缺点 /</div>
                            <div class="agree">
                                <i class="good"></i>
                                游戏玩法极具开创性<br>丰富严谨的系统要素回味绵长<br>出色的音画效果，原始味MAX
                            </div>
                            <div class="line"></div>
                            <div class="disagree">
                                <i class="bad"></i>
                                较高的上手难度<br>游玩爽快感不强<br>代入感不足，后期容易无聊
                            </div>
                        </div>
                    </a>
                </li>
                <li class="case2">
                    <a href="">
                        <img src="../static/images/wy_play_test2.jpeg" alt="">
                        <div class="content">
                            <div class="tit">/ 优缺点 /</div>
                            <div class="agree">
                                <i class="good"></i>
                                游戏玩法极具开创性<br>丰富严谨的系统要素回味绵长<br>出色的音画效果，原始味MAX
                            </div>
                            <div class="line"></div>
                            <div class="disagree">
                                <i class="bad"></i>
                                较高的上手难度<br>游玩爽快感不强<br>代入感不足，后期容易无聊
                            </div>
                        </div>
                    </a>
                </li>
                <li class="case3">
                    <a href="">
                        <img src="../static/images/wy_play_test4.jpeg" alt="">
                        <div class="content">
                            <div class="tit">/ 优缺点 /</div>
                            <div class="agree">
                                <i class="good"></i>
                                游戏玩法极具开创性<br>丰富严谨的系统要素回味绵长<br>出色的音画效果，原始味MAX
                            </div>
                            <div class="line"></div>
                            <div class="disagree">
                                <i class="bad"></i>
                                较高的上手难度<br>游玩爽快感不强<br>代入感不足，后期容易无聊
                            </div>
                        </div>
                    </a>
                </li>
                <li class="case4">
                    <a href="">
                        <img src="../static/images/wy_play_test5.jpeg" alt="">
                        <div class="content">
                            <div class="tit">/ 优缺点 /</div>
                            <div class="agree">
                                <i class="good"></i>
                                游戏玩法极具开创性<br>丰富严谨的系统要素回味绵长<br>出色的音画效果，原始味MAX
                            </div>
                            <div class="line"></div>
                            <div class="disagree">
                                <i class="bad"></i>
                                较高的上手难度<br>游玩爽快感不强<br>代入感不足，后期容易无聊
                            </div>
                        </div>
                    </a>
                </li>
                <li class="case5">
                    <a href="">
                        <img src="../static/images/wy_play_test6.jpeg" alt="">
                        <div class="content">
                            <div class="tit">/ 优缺点 /</div>
                            <div class="agree">
                                <i class="good"></i>
                                游戏玩法极具开创性<br>丰富严谨的系统要素回味绵长<br>出色的音画效果，原始味MAX
                            </div>
                            <div class="line"></div>
                            <div class="disagree">
                                <i class="bad"></i>
                                较高的上手难度<br>游玩爽快感不强<br>代入感不足，后期容易无聊
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--------------游戏广告----------------------------->
        <div class="adv1">
            <a href="">
                <img src="../static/images/wy_play_adv1.jpeg" alt="">
            </a>
        </div>
        <!---------------游戏前瞻---------------------------------->
        <div class="qianzhan">
            <div class="title">
                <h2>游戏前瞻</h2>
                <span></span>
            </div>
            <div class="qianzhan-case">
                <a href="">
                    <div class="switch">
                        <img src="../static/images/wy_play_test1.jpeg" alt="">
                        <p class="comment">任天堂明星大乱斗 <br>Nintendo Switch</p>
                    </div>
                    <div class="qianzhan-com">
                        <div class="touxiang">
                            <div>
                                <img src="../static/images/wy_play_touxiang1.jpeg" alt="">
                            </div>
                            <p>林克君</p>
                        </div>
                        <span class="line"></span>
                        <p class="switch-con">
                            <span></span>
                            最强阵容，首次支持中文，非传统FTG的王者！
                        </p>
                    </div>
                </a>
            </div>
            <div class="qianzhan-case">
                <a href="">
                    <div class="switch">
                        <img src="../static/images/wy_play_test7.jpeg" alt="">
                        <p class="comment">鬼泣5 <br>PlayStation 4</p>
                    </div>
                    <div class="qianzhan-com">
                        <div class="touxiang">
                            <div>
                                <img src="../static/images/wy_play_touxiang1.jpeg" alt="">
                            </div>
                            <p>林克君</p>
                        </div>
                        <span class="line"></span>
                        <p class="switch-con">
                            <span></span>
                            “Devil May Cry”老店再开张，依旧是那凌空飞跃无限连招的感觉！
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <!---------------即将发售------------------------------------->
        <div class="onsale">
            <div class="title">
                <h2>即将发售</h2>
                <span></span>
                <a href="">更多<span></span></a>
            </div>
            <ul class="onsale-list">
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale1.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale2.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale3.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale4.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale5.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale6.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale7.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale8.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
                <li class="onsale-case">
                    <a href="">
                        <div>
                            <img src="../static/images/wy_play_onsale9.jpg" alt="">
                        </div>
                        <div class="onsale-case-con">
                            <p class="text">时代终结：赶尽杀绝 <br><span>角色扮演</span></p>
                            <p class="time">09 / 17</p>
                            <p class="platform">Windows</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!---------------游戏推荐------------------------------------->
        <div class="tuijian">
            <div class="title">
                <h2>游戏推荐</h2>
                <span></span>
                <a href="">更多<span></span></a>
            </div>
            <ul class="tuijian-case">
                <li class="tuijian-case-one">
                    <a href="">
                        <img src="../static/images/wy_play_tuijian1.jpeg" alt="">
                    </a>
                    <p class="comment">神都夜行录 <br>iOS</p>
                </li>
                <li class="tuijian-case-one">
                    <a href="">
                        <img src="../static/images/wy_play_tuijian3.jpeg" alt="">
                    </a>
                    <p class="comment">使命召唤15：黑色行动4 <br>windows</p>
                </li>
                <li class="tuijian-case-one">
                    <a href="">
                        <img src="../static/images/wy_play_tuijian4.jpeg" alt="">
                    </a>
                    <p class="comment">荒野大镖客：救赎2 <br>PS4</p>
                </li>
                <li class="tuijian-case-one">
                    <a href="">
                        <img src="../static/images/wy_play_tuijian5.png" alt="">
                    </a>
                    <p class="comment">杀手2 <br>Xboxone</p>
                </li>
                <li class="tuijian-case-two">
                    <a href="">
                        <img src="../static/images/wy_play_tuijian2.png" alt="">
                    </a>
                    <p class="pandian">新游盘点</p>
                    <p class="comment">玩家的饕餮盛宴！2018年全平台必玩游戏推荐！（下）</p>
                </li>
                <li class="tuijian-case-two">
                    <a href="">
                        <img src="../static/images/wy_play_tuijian6.png" alt="">
                    </a>
                    <p class="pandian">新游盘点</p>
                    <p class="comment">IGN评选PS4上最佳的25款游戏 MHW仅排倒数第二</p>
                </li>

            </ul>
        </div>
        <!--------------游戏广告----------------------------->
        <div class="adv2">
            <a href="">
                <img src="../static/images/wy_play_adv2.jpeg" alt="">
            </a>
        </div>
        <!--------------游戏广告----------------------------->
        <div class="adv3">
            <a href="">
                <img src="../static/images/wy_play_adv3.jpeg" alt="">
            </a>
        </div>
    </div>
    <!-- 尾部 -->
    <div class="ll_footer">
        <div class="ll_img">
            <img src="../static/images/ll_logo.png" alt="">
        </div>
        <ul class="clear">
            <li class="li1"><a href="">网站地图</a></li>
            <li><a href="">商务合作</a></li>
            <li><a href="">人才招聘</a></li>
            <li><a href="">主编信箱</a></li>
            <li class="li5"><a href="">友情链接</a></li>
        </ul>
        <p>广州网易计算机系统有限公司版权所有 ©1997-2019 《网络文化经营许可证》粤网文【2017】6527-1578号</p>
    </div>
    <script src="../static/scripts/jquery-1.8.3.js"></script>
    <script type="module" src="../static/scripts/wy_play_nav_all.js"></script>
    <script type="module" src="../static/scripts/cpz_ll_play_select.js"></script>
</body>

</html>