<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="your keywords">
<meta name="description" content="your description">
<meta name="author" content="author,email address">
<meta name="robots" content="index,follow">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="ie-stand">
<title>暴雪大神_暴雪非官方中文网_暴雪嘉年华_网易大神旗下暴雪游戏大本营</title>
<meta name="keywords" content="暴雪,暴雪大神,暴雪游戏,暴雪嘉年华,暴雪玩家,炉石传说,魔兽世界,暗黑破坏神,守望先锋,星际争霸,风暴英雄,魔兽争霸,网易大神">
<meta name="description" content="暴雪大神将为所有热爱暴雪游戏的玩家带来及时全面的暴雪公司的相关动态以及与暴雪游戏相关的实用新闻资讯。">
<link rel="stylesheet" href="./../static/css/reset.css">
<link rel="stylesheet" href="./../static/css/zy_logo.css">
</head>
<body>
<!-- S logo栏 -->
<div class="zy_logoLang">
    <!-- logo -->
    <div class="zy_logoImg zy_czMid">
        <a href="#"></a>
    </div>

    <ul class="zy_logoNavUl zy_tx">
        <li class="zy_logoNavLi"><a href="">我们</a></li>
        <li class="zy_logoNavLi"><a href="">暴雪</a></li>
        <li class="zy_logoNavLi"><a href="">艺术</a></li>
        <li class="zy_logoNavLi zy_navHeight">深度</li>
        <li class="zy_logoNavLi zy_navMore">更多</li>
    </ul>
    <!-- /导航栏 -->
    
    <!-- 投稿按钮 -->
    <button class="zy_contribute">
        投稿
    </button>
</div>
<!-- E logo栏 -->


<script src="./../static/scripts/jquery-1.8.3.js"></script>
</body>
</html>