<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="keywords" content="your keywords">
<meta name="description" content="your description">
<meta name="author" content="author,email address">
<meta name="robots" content="index,follow">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="renderer" content="ie-stand">
<title>暴雪大神_暴雪非官方中文网_暴雪嘉年华_网易大神旗下暴雪游戏大本营</title>
<meta name="keywords" content="暴雪,暴雪大神,暴雪游戏,暴雪嘉年华,暴雪玩家,炉石传说,魔兽世界,暗黑破坏神,守望先锋,星际争霸,风暴英雄,魔兽争霸,网易大神">
<meta name="description" content="暴雪大神将为所有热爱暴雪游戏的玩家带来及时全面的暴雪公司的相关动态以及与暴雪游戏相关的实用新闻资讯。">
<link rel="stylesheet" href="./../static/css/reset.css">
<link rel="stylesheet" href="./../static/css/zy_logo.css">
<link rel="stylesheet" href="./../static//css/zy_banner.css">
<link rel="stylesheet" href="./../static/css/zy_pageNav.css">
<link rel="stylesheet" href="./../static/css/zy_floot.css">
<link rel="stylesheet" href="./../static/css/zy_dsLongText.css">
<link rel="stylesheet" href="./../static/css/zy_baoxueDsToolsKuai.css">
<link rel="stylesheet" href="./../static/css/zy_netRaseDsKuai.css">
</head>
<body>
<!-- S logo栏 配套css文件为zy_logo.css -->
<div class="zy_logoLang">
    <!-- logo -->
    <div class="zy_logoImg zy_czMid">
        <a href="zy_baoXueDaShen.html"></a>
    </div>

    <ul class="zy_logoNavUl zy_tx">
        <li href="#" class="zy_logoNavLi zy_navMore">
            <a href="">更多</a>
            <!-- 更多下拉栏 -->
            <ul class="zy_navMoreUl zy_navHeightUl">
                <li class="zy_heightLi zy_navMoreLi"><a href="" class="zy_moreLiA1">炉石传说</a></li>
                <li class="zy_heightLi zy_navMoreLi"><a href="" class="zy_moreLiA2">守望先锋</a></li>
                <li class="zy_heightLi zy_navMoreLi"><a href="" class="zy_moreLiA3">黑暗破坏神</a></li>
                <li class="zy_heightLi zy_navMoreLi"><a href="" class="zy_moreLiA4">魔兽世界</a></li>
                <li class="zy_heightLi zy_navMoreLi"><a href="" class="zy_moreLiA5">星际争霸</a></li>
                <li class="zy_heightLi zy_navMoreLi"><a href="" class="zy_moreLiA6">魔兽争霸</a></li>
            </ul>
        </li>
        <li href="#" class="zy_logoNavLi zy_navHeight">
            <a href="">深度</a>
            <!-- 深度下拉栏 -->
            <ul class="zy_navHeightUl">
                <li class="zy_heightLi"><a href="">面孔</a></li>
                <li class="zy_heightLi"><a href="">蓝皮书</a></li>
                <li class="zy_heightLi"><a href="">奇闻异事</a></li>
                <li class="zy_heightLi"><a href="">暴打黑暗</a></li>
            </ul>
        </li>
        <li href="#" class="zy_logoNavLi"><a href="">艺术</a></li>
        <li href="#" class="zy_logoNavLi"><a href="">暴雪</a></li>
        <li href="#" class="zy_logoNavLi"><a href="">我们</a></li>
    </ul>
    <!-- /导航栏 -->
    
    <!-- 投稿按钮 -->
    <button class="zy_contribute">
        投稿
    </button>
</div>
<!-- E logo栏 -->

<!-- body区 -->
<div class="zy_pageBody zy_tx">
    <!-- S banner栏 配套文件为zy_banner.css -->
    <div class="zy_bannerLang">

        <div class="zy_bannerKuai">
            <!-- banner图 -->
            <div class="zy_bannerImg">
                <div class="zy_bannerImgKuai">
                    <a href=""><img src="./../static/images/zy_banner1.jpg" alt="banner"></a>
                    <a href=""><img src="./../static/images/zy_banner2.png" alt="banner"></a>
                    <a href=""><img src="./../static/images/zy_banner3.jpg" alt="banner"></a>
                </div>
            </div>

            <!-- banner切换 -->
            <!-- <ul class="zy_bannerQh tx">
                <li></li>
                <li></li>
                <li></li>
            </ul> -->

            <!-- banner标题 -->
            <div class="zy_bannerTitleKuan">
                <div class="zy_bannerTitle">
                    <span class="zy_titleSub">福利活动</span>
                    <p class="zy_titleCont"> 晒照赢20份古墓惊魂冒险模式福利！</p>
                </div>
                <div class="zy_bannerTitle">
                    <span class="zy_titleSub">守望先锋</span>
                    <p class="zy_titleCont">最佳队友4v4对抗赛9月20日开战</p>
                </div>
                <div class="zy_bannerTitle">
                    <span class="zy_titleSub">魔兽世界</span>
                    <p class="zy_titleCont">苏宁易购《魔兽世界》主题店：购机送季卡 打卡赢月卡</p>
                </div>
            </div>

        </div>
        <!-- /banner -->

        <!-- 搜索框 -->
        <div class="zy_search zy_czMid">
            <input type="text" name="zy_searchText" id="zy_searchText" class="zy_searchText" placeholder="请输入你要搜索的内容">
            <button class="zy_submit"></button>
        </div>

        <!-- 公告栏 -->
        <div class="zy_notice zy_czMid">
            <div class="zy_noticeCont">
                <a href=""><img src="./../static/images/zy_bannerSearchDown2.jpg" alt="公告图"></a>
                <a href=""><span>欢迎加入大神魔兽专区水友群</span></a>
            </div>
            <div class="zy_noticeCont zy_noticeCont2">
                <a href=""><img src="./../static/images/zy_bannerSearchDown1.jpg" alt="公告图"></a>
                <a href=""><span>炉石卡组攻略建议想法征集</span></a>
            </div>
        </div>

        <!-- tip -->
        <h6 class="zy_tipTitle">你知道吗？</h6>
        <div class="zy_tipCont">
            <p>《星际争霸2》单人战役“惊爆内幕”中有出现恶搞蒙牛乳业及魔兽世界的广告牌。</p>
            <span></span>
        </div>
    </div>
    <!-- E banner栏 -->

    <!-- S 大神长文区 -->
    <div class="zy_dsLongTextKuai zy_tx">
        <ul class="zy_dsLongTextUl">
            <!-- <li class="zy_dsLongTextLi">
                <a href="">
                    <img src="./../static/images/zy_userImg1.jpg" alt="头像" class="zy_dsLongTextHead">
                    <span class="zy_dsLongTextGf">官</span>
                    <img src="./../static/images/zy_longNewImg4.jpeg" alt="长文配图" class="zy_dsLongTextImg">
                    <span class="zy_dsLongTextBs">大神长文</span>
                    <h3 class="zy_dsLongTextTitle">文青野蛮人回忆录：与泰瑞尔的重逢</h3>
                    <p class="zy_dsLongTextDown">
                        <span class="zy_dsLongTextUser">凯恩之角</span>
                        <span class="zy_dsLongTextTime">1天前</span>
                    </p>
                </a>
            </li> -->
        </ul>
        <div class="zy_dsLangTextLeading">φ(≧ω≦*)♪ 努力加载中，表着急…</div>
        <div class="zy_dsLangTextLeading">ヽ(✿ﾟ▽ﾟ)ノ 所有动态已加载完毕啦！</div>
    </div>
    <!-- E 大神长文区 -->

    <!-- S 网易大神区 -->
    <div class="zy_netRaseDsKuai">
        <img src="./../static/images/zy_daShenAppImg.png" alt="网易大神logo" class="zy_netRaseDsLogo">
        <h3 class="zy_netRaseDsTitle">网易大神，和大神一起玩！</h3>

        <div class="zy_netRaseDsContKuai">
            <h5 class="zy_netRaseDsContTitle zy_netRaseDsTitle">
                大神入驻，福利活动，热闹社区，更多精彩请跳转
            </h5>
            <!-- 用户推荐 -->
            <div class="zy_dsUserRecommendKuai">

                <!-- 用户推荐标题 -->
                <h5 class="zy_dsUserRecommendTitle">
                    <span>暴雪大神名人</span>
                    <p class="zy_dsUserRecHyH"><img src="./../static/images/zy_dsRecQ_03.jpg" alt="切换图标"><b>换一换</b></p>
                </h5>

                <!-- 左右按钮 -->
                <span class="zy_dsUserRecBtn zy_dsUserRecBtnL"></span>
                <span class="zy_dsUserRecBtn zy_dsUserRecBtnR"></span>

                <!-- 用户推荐内容 -->
                <div class="zy_dsUserRecommendCont">
                    <div class="zy_dsUserRecContLang">
                        <!-- <div class="zy_dsUserRecommend">
                            <img src="./../static/images/zy_userImg1.jpg" alt="头像" class="zy_dsUserRecHead">
                            <h6 class="zy_dsUserRecId">慕容清清</h6>
                            <p class="zy_dsUserRecJs">炉石传说知名解说，主播</p>
                            <button class="zy_dsUserRecRead">查看主页</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- 大神说说 -->
            <div class="zy_dsSSLang">
                <div class="zy_dsSSBox">
                    <!-- <a class="zy_dsSSKuai zy_tx">
                        <div class="zy_dsSSIDLang">
                            <img src="./../static/images/zy_userImg1.jpg" alt="头像" class="zy_dsSSHead">
                            <span class="zy_dsSSG zy_dsLongTextGf zy_dsSSX">☆</span>
                            <h6 class="zy_dsSSUser">阿里Alee</h6>
                            <span class="zy_dsSSFrom">12小时前&nbsp;来自网易大神</span>
                        </div>
                        <p class="zy_dsSSContText">
                                毫无违和感？你也来玩玩？（据说ai换脸有隐私风险，但是我不管，好玩就够了）

                                早点睡觉，明天早上起来玩冒险😎，如果暴雪这次再做的不好玩就喷tm的😤😤😤。。。
                                大家买了冒险预购吗？
                                1.128买了再说，送橙卡送卡背就是赚！
                                2.买预购不是傻子？我等上线了买98的。。。
                                3.用金币开不好吗？
                                4.打冒险还要花钱？我选择不玩                            
                        </p>
                        <div class="zy_dsSSContImgKuai zy_tx">
                            <img src="./../static/images/zy_daShenShuoShuo1.jpeg" alt="说说图片" class="zy_dsSSContImg">
                            <div class="zy_dsSSContImgBox"><img src="./../static/images/zy_daShenShuoShuo1.jpeg" alt="说说图片" class="zy_dsSSContImg"></div>
                            <div class="zy_dsSSContImgBox"><img src="./../static/images/zy_daShenShuoShuo2.jpeg" alt="说说图片" class="zy_dsSSContImg"></div>
                            <div class="zy_dsSSContImgBox"><img src="./../static/images/zy_daShenShuoShuo1.jpeg" alt="说说图片" class="zy_dsSSContImg"></div>
                            <div class="zy_dsSSContImgBox"><img src="./../static/images/zy_daShenShuoShuo2.jpeg" alt="说说图片" class="zy_dsSSContImg"></div>
                        </div>
                        <p class="zy_dsSSZtLang">
                            <span class="zy_dsSSZtZf">转发</span>
                            <span class="zy_dsSSZtPl">9</span>
                            <span class="zy_dsSSZtDz">1</span>
                        </p>
                    </a> -->
                </div>
            </div>
        </div>
        <!-- /网易大神内容区 -->
    </div>
    <!-- E 网易大神区 -->

    <!-- S 工具区 -->
    <div class="zy_baoXueDsToolsKuai">
        <h3 class="zy_dsToolsTitle">工具</h3>
        <a href="" class="zy_dsToolsImg">
            <span></span>
        </a>
        <a href="" class="zy_dsToolsImg zy_dsToolsImg2">
            <span></span>
        </a>
        <a href="" class="zy_dsToolsImg zy_dsToolsImg3">
            <span></span>
        </a>
        <a href="" class="zy_dsToolsImg zy_dsToolsImg4">
            <span></span>
        </a>
        <a href="" class="zy_dsToolsImg zy_dsToolsImg5">
            <span></span>
        </a>
    </div>
    <!-- E 工具区 -->



</div>

<!-- S floot区 配套css文件为zy_floot.css -->
<div class="zy_flootLang">
    <div class="zy_flootKuan">
        <!-- 常用工具 -->
        <h3 class="zy_flootTitle">常用工具</h3>
        <ul class="zy_toolsAppUl zy_tx">
            <li class="zy_toolsAppLi">
                <a href="" class="zy_toolsAppA" title="暴雪站网PC端">
                    <img src="./../static/images/zy_appBaoXue.png" alt="暴雪站网PC端">
                    <span>暴雪站网PC端</span>
                </a>
            </li>
            <li class="zy_toolsAppLi">
                <a href="" class="zy_toolsAppA" title="暴雪战网APP">
                    <img src="./../static/images/zy_pcBaoXue.png" alt="暴雪战网APP">
                    <span>暴雪战网APP</span>
                </a>
            </li>
            <li class="zy_toolsAppLi">
                <a href="" class="zy_toolsAppA" title="炉石盒子">
                    <img src="./../static/images/zy_appLuShi.png" alt="炉石盒子">
                    <span>炉石盒子</span>
                </a>
            </li>
            <li class="zy_toolsAppLi">
                <a href="" class="zy_toolsAppA" title="网易电竞NeXT">
                    <img src="./../static/images/zy_appNeXt.png" alt="网易电竞NeXT">
                    <span>网易电竞NeXT</span>
                </a>
            </li>
            <li class="zy_toolsAppLi">
                <a href="" class="zy_toolsAppA" title="CC直播">
                    <img src="./../static/images/zy_appCC.png" alt="CC直播">
                    <span>CC直播</span>
                </a>
            </li>
            <li class="zy_toolsAppLi">
                <a href="" class="zy_toolsAppA" title="军团助手">
                    <img src="./../static/images/zy_appJunTuan.png" alt="军团助手">
                    <span>军团助手</span>
                </a>
            </li>
            <li class="zy_toolsAppLi">
                <a href="" class="zy_toolsAppA" title="随身风暴英雄">
                    <img src="./../static/images/zy_appYinXiong.png" alt="随身风暴英雄">
                    <span>随身风暴英雄</span>
                </a>
            </li>
            <li class="zy_toolsAppLi">
                <a href="" class="zy_toolsAppA" title="随身炉石">
                    <img src="./../static/images/zy_appShuiShenLuShi.png" alt="随身炉石">
                    <span>随身炉石</span>
                </a>
            </li>
        </ul>

        <!-- 常用网站 -->
        <h3 class="zy_flootTitle">常用网站</h3>
        <ul class="zy_flootFriend zy_tx">
            <li class="zy_flootFriendFist">暴雪官方</li>
            <li class="zy_flootFriendSecend">:&nbsp;<a href="" title="暴雪官网">暴雪官网</a></li>
            <li><a href="" title="黄金联赛">黄金联赛</a></li>
            <li><a href="" title="暴雪游戏频道">暴雪游戏频道</a></li>
            <li><a href="" title="暴雪嘉年华">暴雪嘉年华</a></li>
            <li><a href="" title="魔兽世界">魔兽世界</a></li>
            <li><a href="" title="炉石传说">炉石传说</a></li>
            <li><a href="" title="暗黑破坏神">暗黑破坏神</a></li>
            <li><a href="" title="星际争霸">星际争霸</a></li>
            <li><a href="" title="守望先锋">守望先锋</a></li>
            <li><a href="" title="风暴英雄">风暴英雄</a></li>
            <li><a href="" title="暴雪媒体中心">暴雪媒体中心</a></li>
        </ul>
        <ul class="zy_flootFriend zy_tx">
            <li class="zy_flootFriendFist">外媒权威</li>
            <li class="zy_flootFriendSecend">:&nbsp;<a href="" title="wowhead">wowhead</a></li>
            <li><a href="" title="mmo-champion">mmo-champion</a></li>
            <li><a href="" title="diablofans">diablofans</a></li>
            <li><a href="" title="hearthpwn">hearthpwn</a></li>
            <li><a href="" title="teamliquid">teamliquid</a></li>
            <li><a href="" title="inven">inven</a></li>
            <li><a href="" title="sonofthestorm">sonofthestorm</a></li>
            <li><a href="" title="blizzardwatch">blizzardwatch</a></li>
            <li><a href="" title="blizzplanet">blizzplanet</a></li>
        </ul>
        <ul class="zy_flootFriend zy_tx">
            <li class="zy_flootFriendFist">实用工具</li>
            <li class="zy_flootFriendSecend">:&nbsp;<a href="" title="diabloprogress">diabloprogress</a></li>
            <li><a href="" title="d3planner">d3planner</a></li>
            <li><a href="" title="Overwatch Wiki">Overwatch Wiki</a></li>
            <li><a href="" title="diablo database">diablo database</a></li>
            <li><a href="" title="MasterOverwatch">MasterOverwatch</a></li>
            <li><a href="" title="Warcraftmovies">Warcraftmovies</a></li>
            <li><a href="" title="Heroesfire">Heroesfire</a></li>
        </ul>
    </div>
</div>
<!-- E floot区 -->

<!-- S 固定菜单 配套的CSS文件为zy_pageNav.css 配套的JS文件为zy_pageNav.js -->
<div class="zy_pageNavKuan">
    <a href="" class="zy_pageNavLi zy_pageLi1">
        <div class="zy_dsErweima">
            <img src="./../static/images/zy_daShenErWeiMa.png" alt="大神二维码" >
        </div>
    </a>
    <a href="" class="zy_pageNavLi zy_pageLi2"></a>
    <a  class="zy_pageNavLi zy_pageLi3"></a>
</div>
<!-- E 固定菜单 -->

<!-- <script src="./../static/scripts/jquery-1.8.3.js"></script> -->
<script src="./../static/scripts/require.js" data-main="./../static/scripts/zy_main.js"></script>
</body>
</html>